.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    .lead {
        color: $yellow;
    }
  
}

.jumbotron, .container {
    h4 {
        color: $blue;
        text-transform: capitalize;
        &.inverse {
            color: white;
        }
    }
}

// mixins

@mixin montserratRegular {
    font-family: $montserrat;
    font-weight: 400;
}

@mixin montserratBold {
    font-family: $montserrat;
    font-weight: 700;
}

@mixin opensansRegular {
    font-family: $opensans;
    font-weight: 400;
}

@mixin opensansBold {
    font-family: $opensans;
    font-weight: 700;
}
    