
// color palatte
$blue: #292974;
$yellow:  #fcb13b;
$grey: #f8f8f8;

// $montserrat-bold: 'montserrat-bold';
// $montserrat-regular: 'montserrat-regular';
// $opensans-bold: 'opensans-bold';
// $opensans-regular: 'opensans-regular';

$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
