.banner {
    text-align: left;
    h1 {
        text-transform: uppercase;
        @include opensansBold; 
    }
    .lead {
        @include opensansRegular; 
    }
    .btn:hover {
        border: 0.1em solid transparent!important;
        background: $yellow!important;
        color: white!important;
    }
}