a.btn {
    background: $yellow;
    border-radius: 0px;
    color: white;
    text-transform: uppercase;
    @include opensansBold;
    border: 0.1em solid transparent;
    &:hover {
        background: white;
        border: 0.1em solid $yellow;
        color: $yellow!important;
    }
    a {
        color: white;
        text-decoration: none;
    }
    &:focus {
        box-shadow: none;
    } 
}