.navigation {
    .container {
        padding: 0px 15px;
    }
    ul li {
        &:last-child {
            a { padding-right: 0; }
        }
        a {
            color: $blue;
            font-weight: bold;
            @media (min-width: 991px) {
                margin-left: 1em;
            }
        }
    }
}