.topbar {
    background-color: $blue;
    ul {
        li a {
            color: white;
            @include montserratRegular; 
        }
    }
    .left {
        img {
            margin-right: 0.5rem;
        }
        .nav-item {
            margin-right: 2rem;
        }
    }
    .right {
        img {
            margin-left: 2em;
        }
    }

    

    
   
}