#app {
  background-color: #f8f8f8;
}
#app .jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
#app .jumbotron .lead {
  color: #fcb13b;
}
#app .jumbotron h4, #app .container h4 {
  color: #292974;
  text-transform: capitalize;
}
#app .jumbotron h4.inverse, #app .container h4.inverse {
  color: white;
}
#app button.btn {
  background: #fcb13b;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#app .topbar {
  background-color: #292974;
}
#app .topbar ul li a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .topbar .left img {
  margin-right: 0.5rem;
}
#app .topbar .left .nav-item {
  margin-right: 2rem;
}
#app .topbar .right img {
  margin-left: 2em;
}
#app .navigation .container {
  padding: 0px 15px;
}
#app .navigation ul li:last-child a {
  padding-right: 0;
}
#app .navigation ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292974;
  font-weight: bold;
}
@media (min-width: 991px) {
  #app .navigation ul li a {
    margin-left: 1em;
  }
}
#app .banner {
  text-align: left;
}
#app .banner h1 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#app .banner .lead {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
#app .infiniteSlide {
  background-color: white;
}
#app .social-links img {
  margin-left: 2em;
}
#app .productSpecialization {
  text-align: center;
}
#app .productSpecialization h4 {
  margin: 2em 0em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .productSpecialization .card {
  margin-bottom: 3em;
  border-top: 0.05em solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#app .productSpecialization .card .card-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .productSpecialization .card .card-title .underline:after {
  content: "";
  border-bottom: 0.1em solid black;
  width: 2em;
  display: block;
  text-align: center;
  margin: 0.5em auto;
}
#app .productSpecialization .card .card-text {
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .productSpecialization .card img {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
#app .chooseUs.jumbotron {
  padding-bottom: 0;
}
#app .chooseUs h4 {
  text-align: center;
  margin-bottom: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .chooseUs .choose-items {
  text-align: left;
  margin-bottom: 4em;
}
#app .chooseUs .choose-items .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .chooseUs .choose-items .subText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
#app .contactUs {
  text-align: center;
}
#app .contactUs h4 {
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .contactUs h4 + p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3em;
}
#app .contactUs .contactForm label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .contactUs .contactForm input, #app .contactUs .contactForm select {
  height: 3em;
}
#app .contactUs .contactForm input, #app .contactUs .contactForm select, #app .contactUs .contactForm textarea {
  width: 100%;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .contactUs .maps label, #app .contactUs .maps p, #app .contactUs .maps input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .contactUs button {
  min-width: 10em;
  margin-bottom: 2em;
}
#app .subscribe {
  padding-top: 3em;
  padding-bottom: 2.5em;
}
#app .subscribe .d-flex {
  justify-content: center;
}
#app .subscribe h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .subscribe input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app .aboutUs h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#app .aboutUs p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#app footer a {
  color: white;
}
#app footer .follow-us {
  padding: 1em 0em;
}
#app footer .follow-us p {
  color: white;
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
